{% extends "base.html" %} {% block content %}

<div class="rounded-3 bg-light" style="max-width: ">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold" style="text-align: center">Campaign</h1>
        <hr />
        <div id="parameters">{% include "campaign/parameters.html" %}</div>
        <div id="data" style="display: none">
            {% include "campaign/data.html" %}
        </div>
        <div id="plot" style="display: none">
            {% include "campaign/plot.html" %}
        </div>
        <div id="model" style="display: none">
            {% include "campaign/model.html" %}
        </div>
    </div>
</div>

{% endblock %}
