{% extends "base.html" %} {% block content %}

<div class="rounded-3 bg-light" style="max-width: 400px">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold" style="text-align: center">digiLab</h1>
        <hr />
        <div class="list-group">
            {% for campaign in campaign_names %}
            <a class="list-group-item list-group-item-action">
                {{ campaign }}
            </a>
            {% endfor %} {% if campaign_names %}
        </div>
        <hr />
        {% endif %}
        <div id="create_campaign">
            {% include "components/create_campaign.html" %}
        </div>
        <div id="message_box">{% include "components/message_box.html" %}</div>
    </div>
</div>

{% endblock %}
