{% extends "base.html" %} {% block content %}

<div class="rounded-3 bg-light" style="max-width: 400px">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold" style="text-align: center">digiLab</h1>
        <hr />
        <div id="campaign_list" class="mt-3">
            {% include "components/campaign_list.html" %}
        </div>
        <div id="create_campaign" class="mt-3">
            {% include "components/create_campaign.html" %}
        </div>
        <div id="message_box" class="mt-3">
            {% include "components/message_box.html" %}
        </div>
    </div>
</div>

{% endblock %}
