{% extends "base.html" %} {% block content %}

<div class="rounded-3 bg-light" style="max-width: 1000px">
    <div class="container-fluid py-5">
        <h1>{{ campaign_name }}</h1>
        <hr />
        <div class="row">
            <div class="col-sm-6">
                {% include "components/parameters/input.html" %}
            </div>
            <div class="col-sm-6">
                {% include "components/parameters/output.html" %}
            </div>
        </div>
        <hr />
        <button
            id="create_button"
            class="btn btn-primary"
            onclick="create_campaign()"
            disabled
        >
            Create
        </button>
        <button class="btn btn-danger" onclick="Client.go_to_overview()">
            Back
        </button>
    </div>
</div>

<script>
    const check_setup_validity = () => {
        if (
            $(".input_parameter_name").length *
                $(".output_parameter_name").length >
            0
        ) {
            $("#create_button").prop("disabled", false);
        } else {
            $("#create_button").prop("disabled", true);
        }
    };

    const create_campaign = () => {
        const inputs = input_param_data();
        const outputs = output_param_data();

        console.log(inputs[0]);
        console.log(outputs[0]);
        alert("TODO: Create campaign file...");
    };
</script>

{% endblock %}
