{% extends "base.html" %} {% block content %}

<div class="rounded-3 bg-light" style="max-width: 400px">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold" style="text-align: center">digiLab</h1>
        <hr />
        <div id="campaign_list" class="mt-3">
            {% include "components/campaign_list.html" %}
        </div>
        <div id="create_campaign" class="mt-3">
            {% include "components/create_campaign.html" %}
        </div>
        <div id="message_box" class="mt-3">
            {% include "components/message_box.html" %}
        </div>

        <hr />
        <button
            class="btn btn-danger"
            onclick="sessionStorage.removeItem('digilab_uq_username');Client.go_to_login()"
        >
            Sign Out
        </button>
    </div>
</div>

<script>
    $(document).ready(function () {
        if (sessionStorage.getItem("digilab_uq_username") == null) {
            Client.go_to_login();
        }
    });
</script>

{% endblock %}
