body {
    background-image: linear-gradient(#b636b6, #903490);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Exo 2', sans-serif;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}