<div class="mb-3">
    <h4 class="d-inline">Output</h4>
    <button class="btn btn-primary float-end" onclick="add_output_parameter()">
        <i class="bi bi-plus-lg"></i>
    </button>
</div>
<div id="output_parameters"></div>

<script>
    const OUTPUT_PARAM = (name, min, max) => `
        <div class="input-group mb-3">
            <label class="input-group-text">Parameter</label>
            <input type="text" class="output_parameter_name form-control" value="${name}" />
            <label class="input-group-text">∈</label>
            <input type="number" class="form-control" value="${min}" />
            <label class="input-group-text">-</label>
            <input type="number" class="form-control" value="${max}" />
            <button class="btn btn-danger float-end" onclick="$(this).parent().remove()">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
    `;

    var output_param_counter = 0;
    const add_output_parameter = () => {
        $("#output_parameters").append(
            OUTPUT_PARAM("Y" + output_param_counter, 0.0, 1.0)
        );
        output_param_counter += 1;
    };

    const list_output_parameter_names = () => {
        var output_parameters = [];
        $(".output_parameter_name").each((n, obj) => {
            output_parameters.push($(obj).val());
        });
        return output_parameters;
    };
</script>
